@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap');

$BEIGE: #F6F1D1;
$ASH_GREY: #CFD7C7;
$GREEN_SHEEN: #70A9A1;
$TEAL_BLUE: #40798C;
$CHARLESTON_GREEN: #0B2027;

$MAX_WIDTH: 700px;

body {
  margin: 0;
  font-family: 'Alef',
    sans-serif, -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: hsl(0, 0, 95%);
}

h1 {
  font-size: 2em;
  color: black;
}

h2 {
  font-size: 1em;
  color: $CHARLESTON_GREEN;
}