$MAX_WIDTH: 700px;
$SPACING: 30px;
$SHADOW: 0 0 10px 0 rgba(0, 0, 0, 0.3);
$RADIUS: 10px;
$INPUT_SPACING: 4px;

$PRIMARY_COLOR: #ffd60a;
$SECONDARY_COLOR: #ffc300;
$BG_COLOR: white;
$TEXT_COLOR_PRIMARY: #003566;
$TEXT_COLOR_SECONDARY: #001d3d;
$BG_COLOR_SECONDARY: #000814;